/* Estilos para el cuerpo de la página */
body {
  background-color: bisque; /* Color de fondo */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; /* Fuente */
}

/* Estilos para el botón */
.boton {
  background-color: blueviolet; /* Color de fondo */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  padding: 5px; /* Espaciado interno */
  color: white; /* Color del texto */
}

/* Estilos cuando se pasa el ratón sobre el botón */
.boton:hover {
  background-color: rgb(113, 41, 180); /* Cambio de color de fondo */
}

  